{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Youssef Oubourhim - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		
		<div id="name">
			<h1 class="quickFade delayTwo">Youssef Oubourhim</h1>
			
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>E-mail: bourhimyoussef16@gmail.com</li>
				<li>Phone: +212636660553</li>
				<li>Address: 5 LT AL FAJR GP B ETG 1 APPT 3 AHL LAGHLAM CASABLANCA MAROC</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Lettre de Motivation</h1>
				</div>
				
				<div class="sectionContent">
					<p>En effet, mon profil correspond à la description recherchée 	
						Intégrer votre entreprise représente pour moi un réel enjeu d’avenir dans lequel mon travail et mon honnêteté pourront s’exprimer pleinement.
						Restant à votre disposition pour toute information complémentaire.
					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>EXPERIENCE PROFESSIONAL</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Maintenance de telephones</h2>
					<p class="subDetails">De 01/05/2016 a 26/08/2016</p>
					<p>3 mois de travail au sein de Magasins de réparation de téléphones mobiles et ordinateurs.</p>
				</article>
				
				<article>
					<h2>VENDEUR</h2>
					<p class="subDetails">De 01/05/2017 a 28/08/2017</p>
					<p>3 mois de travail dans une bibliothèque.</p>
				</article>
				<article>
					<h2>VENDEUR</h2>
					<p class="subDetails">De 01/06/2012018 a 20/09/2018</p>
					<p>3 mois de travail au tacos en tant que livreur.</p>
				</article>
				
				<article>
					<h2>Stage</h2>
					<p class="subDetails">De 01/03/2020 à 30/03/2020</p>
					<p>1 mois de stage dans la société DEMCO STEEL .</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>COMPETENCES</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Bon à traiter avec des ordinateurs et à résoudre des problèmes </li>
					<li>Bon à travailler sur système d’exploitation Windows 10 et 7 et système open source (Ubunto,Fedora)</li>
					<li>Bon à travailler sur Microsoft office 2010 (Word, Excel, PowerPoint...)</li>
					<li>Bon à traiter la lange C/C++ et PYTHON et Framework DJANGO et HTML et CSS et JAVASCRIPT et MYSQL</li>
					<li>La communication et soft skills </li>
					<li>Gestion système et réseaux ( linux et windows server 2012)
					</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Université Hassan ii Faculté des Sciences Ben M'sik
					</h2>
					<p class="subDetails">1 année</p>
					<p>Filière SMP ( science math et physique )</p>
				</article>
				
				<article>
					<h2>OFPPT/ISTIA_SB</h2>
					<p class="subDetails">diplôme TS</p>
					<p>l’OFPPT Filière TRI (technicien réseaux informatique).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>